.button {
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #07410a; /* Darker green on hover */
}
.totals {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: hwb(0 100% 0%);  
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.input {
  margin-bottom: 20px; /* Adds more space between inputs */
  width: 95%; /* Increases the width of the input fields */
  padding: 10px; /* Makes the input fields taller */
  border: 2px solid #ccc; /* Adds a border to make the input fields more defined */
  border-radius: 4px; /* Rounds the corners of the input fields */
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.label {
  display: block;
  margin-top: 10px; /* Space above each label */
  margin-bottom: 5px; /* Space between label and input */
  font-size: 16px; /* Font size for better readability */
  color: #333; /* Dark color for better contrast */
}
.chartContainer {
  width: 200px;  
  margin-right: 20px;  
  align-self: flex-start;  
}
